@use '@carbon/layout';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/react/scss/theme' as *;

//10-row table
.modal-height {
  height: ((3+10) * $spacing-09) + $spacing-01 !important;
}

.sfg--page-details-container {
  height: ((3+9.35) * $spacing-09) + $spacing-01 !important;
}

.cds--modal-content {
  overflow-y: hidden !important;
}

.cds--css-grid {
  align-items: unset;
}

.cds--modal-lg .cds--modal-container {
  inline-size: 60% !important;
}

.sfg--grid-container>div:last-child {
  padding-left: 1rem;
}

.errorMessage {
  padding-left: 1.5rem;
  color: var(--cds-support-error, '#da1e28');
}

.page-content.page-type-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-body,
  .sfg--page-body {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}