.element {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  //box-shadow: 0px 0px 5px -2px;
  border: 1.01px solid #E8E8E8;
}

.element:hover {
  border: 1px solid hsl(205, 100%, 50%);

  .add-row {
    display: block;
  }
}

.element:first-of-type {
  margin-top: 8px;
}

.element:last-child {
  margin-bottom: 8px;
}

.drag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.icon-pointer {
  cursor: pointer;
  width: 24px;
  height: 5rem;
}

.delete-icon {
  margin-left: -0.5rem;
}

.actions-icons{
  margin-top: 1rem;
  margin-right: -1rem;
}

.action-container {
  position: absolute;
  right: 5rem;
  bottom: -1.5rem;
  border-radius: -12px;
  width: 8rem;
  height: 3rem;
  background: white;
  box-shadow: 0px 0px 6px -4px #000000;
}

.add-row {
  display: none;
  position: absolute;
  left: 33rem;
  bottom: -2rem;
}

.form-fields {
  margin: 0.5rem;
}

.canvas-form-fields {
  position: relative;
  width: 89%;
  margin-left: 1rem;
}

.custom-field-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
  align-items: center;
  margin: 0px;
}

.form-fields-Selected {
  border: 1px solid hsl(205, 100%, 50%);
}

.col-span-margin {
  margin-left: -3rem;
}