.context-mapping-btn {
  margin-top: 1.9rem;
  background-color: #ffffff;
  top: 0.50rem;
  height: 2.6rem;
  width: 2.6rem;
  padding-top: 0.7rem;
  margin-left: 1.25rem;
}

.attachment-mapping-btn {
  top: 0;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}

.txt-area {
  margin-left: 0.75rem;
  overflow-y: auto;
  width: 90%;
  min-width: 90%;
  max-width: 95%;
}
.col-margin-test{
  display: flex;
}