.buttons-containers {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 48px;
  margin: 0px;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.context-mapping-btn {
  background-color: #ffffff;
  height: 2.6rem;
  width: 2.6rem;
  padding-top: 0.7rem;
}

.attachment-mapping-btn {
  top: 0;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}

.context-mapping-button-container {
  position: relative;
  top: -20px;
  margin-top: 5rem;
}
