@use '@carbon/layout';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/react/scss/theme' as *;

.pem--cdm-grid {
  height: 100%;
}

.pem--cdm-tree-container {
  height: 100%;
  /*   margin: 0rem 1rem; */
  border-right: 1px solid #c6c6c6;
  background-color: white;
  overflow-y: auto;
}

.pem--table-header {
  margin-top: 1rem;
}

.checkbox-wrapper {
  padding-left: 1rem;
}

.cds--text-input__invalid-icon {
  position: absolute;
  fill: var(--cds-support-error, #da1e28);
  inset-block-start: 50%;
  inset-inline-end: 1rem;
  transform: translateY(-50%);
}

.pem--table-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964px;
  text-align: left;
}

.context-mapping .cds--tab-content {
  padding: 0rem !important;
}

//10-row table
.modal-height {
  height: ((3+9) * $spacing-09) + $spacing-01 !important;
}

.sfg--page-details-container {
  height: ((3+8) * $spacing-09) + $spacing-01 !important;
}

.cds--modal-content {
  overflow-y: hidden !important;
}

.cds--css-grid {
  align-items: unset;
}

.pem--name-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.define-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}

.label {
  margin-top: 1rem;
}

.cds--modal-lg .cds--modal-container {
  inline-size: 62% !important;
}

.right-pane {
  position: absolute;
  width: -webkit-fill-available;
}

.right-panel {
  position: fixed;
  top: 0;
  padding-top: 2rem;
  width: -webkit-fill-available;
  padding-right: 2rem;
}

.errorMessage {
  padding-left: 1.5rem;
  color: var(--cds-support-error, #da1e28);
}

.successMessage {
  padding-left: 1.5rem;
  color: var(--cds-support-success, #24a148);
}

.apiConfiguration-form {
  overflow-y: auto;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.authentication-wrapper {
  padding-top: 3rem;
}

.cds--list-box__wrapper>label {
  color: var(--cds-text-secondary, #525252);
}

.cds--form .sfg--grid--form .cds--form-item,
.cds--list-box__wrapper {
  min-height: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.unmap-header {
  border-bottom: 1px solid #c6c6c6;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.pem-unmap-button-wrapper {
  float: right;
  display: flex;
  bottom: 0.5rem;
  height: max-content;
}

.pem-unmap-table-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1599999964px;
  text-align: left;
}

.unmap-wrapper .unmap-col-wrapper {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.cds--modal-md .cds--modal-container {
  height: 70% !important;
}

.cds--form .sfg--grid--form .cds--form-item:not(.cds--checkbox-wrapper, .cds--toggle-wrapper) {
  margin-bottom: .5rem;
  margin-top: .5rem;
  min-height: 0rem !important;
  margin-right: 2rem;
}

.cds--form .sfg--grid--form .cds--list-box__wrapper {
  margin-top: .75rem;
  margin-bottom: .5rem;
  min-height: 0rem !important;
  margin-right: 2rem;
}

.no-connector-container {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 10rem;
  padding: 6rem 0rem 0rem 6rem;
  display: block;
}