@use '@carbon/layout';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/react/scss/theme' as *;

.pem--cdm-grid {
  height: 100%;
}

.pem--cdm-tree-container {
  height: 100%;
  margin: 0rem 1rem;
  border-right: 1px solid #c6c6c6;
  background-color: white;
}

.pem--table-header {
  margin-top: 1rem;
}

.pem--table-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964px;
  text-align: left;
}

.context-mapping .cds--tab-content {
  padding: 0rem !important;
}

//10-row table
.modal-height {
  height: ((3+9) * $spacing-09) + $spacing-01 !important;
}

.sfg--page-details-container {
  height: ((3+7) * $spacing-09) + $spacing-01 !important;
}

.cds--modal-content {
  overflow-y: hidden !important;
}

.cds--css-grid {
  align-items: unset;
}

.pem--name-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.define-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}

.label {
  margin-top: 1rem;
}

.cds--modal-lg .cds--modal-container {
  inline-size: 62% !important;
}

.right-panel {
  position: fixed;
  top: 0;
  padding-top: 2rem;
  width: -webkit-fill-available;
  padding-right: 2rem;
}