@use '@carbon/layout';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/react/scss/theme' as *;

.pem--cdm-grid {
  height: 100%;
}

.pem--cdm-tree-container {
  height: 100%;
  margin: 1rem 1rem;
  border-right: 1px solid #c6c6c6;
}

.pem--table-header {
  margin-top: 1rem;
}

.pem--table-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964px;
  text-align: left;
}

.pem--table-10-rows {
  height: ((3+10) * $spacing-09) + $spacing-01 !important;
}

.context-mapping  .cds--tab-content {
  padding: 0rem !important;
}

.pem--name-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.define-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}


.label {
  margin-top: 1rem;
}

.sfg--modal-body{
  overflow: hidden;
}

.sfg--datatable-right-section .sfg--datatable-table-section {
  height: 100%;
}

.cds--modal-lg .cds--modal-container{
  inline-size: 72% !important;
}