.filedownload-button {
    display: block;
    margin: 1rem 0 !important;
}

.error-text {
    color: red;
}

.cds--date-picker__input {
    width: 100% !important;
}

.icon-border {
    border-radius: 50%;
    border: 1px solid #4C4C4C;
    fill: #4C4C4C
}